.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.774);
  
}

h1{
  color: antiquewhite;
  font-weight: 800;
  font-size: 50px;
}

.centeredDiv {
  background-color: #FF5757;
  padding: 20px;
  border-radius: 10px;
  min-height: 400px;
  min-width: 800px;
  text-align: center;
  max-width: 1000px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

.botonesStart {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 30px;
}

body {
  font-family: 'League Spartan', serif;
}