

.Boton{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    outline: none;
  }


  .Boton{
    width: 150px;
    height: 40px;
    font-weight: 700 !important;
    background-color: var(--coPri);
    color: var(--coText);
    border-radius: 5px;
}