.fullInfoMovieBox {
    display: flex;
    justify-content: center;
  }
  
  .backdrop {
    width: 1200px;
    height: 675px;
    overflow: hidden;
    position: absolute;
  }
  
  .backdrop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #3A3A3A 0, rgba(58, 58, 58, 0.986) 0.97%, rgba(58, 58, 58, 0.945) 2.08%, rgba(58, 58, 58, 0.883) 3.30%, rgba(58, 58, 58, 0.803) 4.60%, rgba(58, 58, 58, 0.711) 5.97%, rgba(58, 58, 58, 0.61) 7.37%, rgba(58, 58, 58, 0.504) 8.77%, rgba(58, 58, 58, 0.398) 10.16%, rgba(58, 58, 58, 0.296) 11.51%, rgba(58, 58, 58, 0.203) 12.78%, rgba(58, 58, 58, 0.122) 13.96%, rgba(58, 58, 58, 0.059) 15.02%, rgba(58, 58, 58, 0.016) 15.93%, rgba(58, 58, 58, 0) 16.67%, rgba(58, 58, 58, 0) 83.33%, rgba(58, 58, 58, 0.016) 84.07%, rgba(58, 58, 58, 0.059) 84.98%, rgba(58, 58, 58, 0.122) 86.04%, rgba(58, 58, 58, 0.203) 87.22%, rgba(58, 58, 58, 0.296) 88.50%, rgba(58, 58, 58, 0.398) 89.84%, rgba(58, 58, 58, 0.504) 91.23%, rgba(58, 58, 58, 0.61) 92.64%, rgba(58, 58, 58, 0.711) 94.03%, rgba(58, 58, 58, 0.803) 95.40%, rgba(58, 58, 58, 0.883) 96.70%, rgba(58, 58, 58, 0.945) 97.92%, rgba(58, 58, 58, 0.986) 99.03%, #3A3A3A),
                      linear-gradient(0deg, #3A3A3A 0, #3A3A3A 21.48%, rgba(58, 58, 58, 0.986) 23.64%, rgba(58, 58, 58, 0.945) 26.10%, rgba(58, 58, 58, 0.883) 28.81%, rgba(58, 58, 58, 0.803) 31.71%, rgba(58, 58, 58, 0.711) 34.74%, rgba(58, 58, 58, 0.61) 37.85%, rgba(58, 58, 58, 0.504) 40.97%, rgba(58, 58, 58, 0.398) 44.06%, rgba(58, 58, 58, 0.296) 47.05%, rgba(58, 58, 58, 0.203) 49.88%, rgba(58, 58, 58, 0.122) 52.50%, rgba(58, 58, 58, 0.059) 54.85%, rgba(58, 58, 58, 0.016) 56.88%, rgba(58, 58, 58, 0) 58.52%);
    
    z-index: 0;
  }
  
  .backdrop img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .dataMovieBox{
    margin-top: 450px;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 1.5fr; 
    gap: 0px 0px;
    width: 90%;
  }
  
  .LeftColum{
    grid-column: 1;
    display: flex;
    flex-direction: column;
  }

  .posterContainer{
    position: relative;
    display: inline-block;
    height: 323px;
    width: 218px;
    margin: 6px;
    border-radius: 5%;
    transition: border .1s linear;
    border-radius: 5px;
}

.CentralColum{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 20px;
  color: antiquewhite;
}

.TituloPelicula{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.genresBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.genreItem{
  color: antiquewhite;
  background-color: var(--coSecond);
  margin: 5px;
  padding: 7px;
  border-radius: 5px;
}

.DescriptionMovie{
  line-height: 1.2em;
  text-align: left;
}

.TagLine{
  text-transform: uppercase;
}

.ratingBox img{
  max-width: 30px;
  height: 30px;
  margin-right: 7px;
  flex-shrink: 0;
}

.ratingItem{
  display: flex;
  color: antiquewhite;
  background-color: var(--coSecond);
  margin: 5px;
  padding: 7px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.ratingBox{
  display: flex;
  justify-content: center;
  height: 55px;
}
.CastTitle{
  text-align: left;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}
.CastList{
  display: flex;
  width: 550px;
  overflow: scroll;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 10px;
}

.ActorBox img{
  height: 180px;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 5px;
}

.ActorBox{
  margin-right: 20px;
  background-color: var(--coSecond);
  border-radius: 5px;
  height: 260px;
  text-align: center;
}

.ActorName{
  font-weight: 800;
}

.ThemeBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.ThemItem{
  color: antiquewhite;
  background-color: var(--coSecond);
  margin: 5px;
  padding: 7px;
  border-radius: 5px;
}