@import 'colores.css';
  
.inputStartPage {
  width: 450px;
  margin: 10px 0px 5px 0px !important;
  color: aliceblue !important;
}


.dropdownItemSearch{
  padding: 10px 10px 10px 10px;
  display: flex;
}

.dropdownItemSearch:hover{
  color: var(--coPri);
  background-color: #757981;
}

.dropdownFilmSearch {
  display: flex;
  border: #282c34 solid;
  border-radius: 5px;
  width: 450px;
  flex-direction: column;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  background: white;
}

.dropdownItemSearch img {
  object-fit: contain;
  width: 50px;
  margin-right: 10px;
  border-radius: 10%;
}

.dropdownItemSearchText{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filaNombrePelicula {
  text-align: left;
  font-size: 20px;
}

.filaFechaPelicula {
  font-size: 15px;
  display: flex;
  align-items: flex-start;
}