@import 'colores.css';

.TopBarContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    z-index: 100;
    transition: top .2s linear;
    background-color: var(--coPri);
    box-shadow: rgb(48 48 50 / 90%) 0px 7px 29px 0px;
  }

.TopBarCenter{
  max-width: 1000px;
  width: 100%;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TopBarContainer #Logo{
  font-weight: 800;
  font-size: 35px;
}

.topBarButtons{
  display: flex;
  gap: 30px;
  margin-right: 20px;
  font-weight: 600;
  align-items: center;
  
}

.TopBarContainer{
  color: antiquewhite;
}

.TopBarContainer a{
  color: antiquewhite;
  text-decoration: none;
  
}



.topBarButtons input{
  height: 30px;
  font-size: 10px;
  padding: 5px;
  border: none;
  box-shadow: none;
  background-color: var(--coSecond);
  color: #faebd7;
  font-size: 14px;
}

.SearchBarTop{
  display: flex;
  align-items: center;
}



.buscador{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--coSecond);
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  background-color: var(--coSecond);
  margin-left: 5px;
}

.buscador svg{
  margin: 5px 10px 0px 0px;
}

.SearchBoxInput{
  display: flex;
  align-items: center;
}
